<div class="modal-header">
  <h4 class="modal-title">{{titre}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- step 2 -->
<form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
  <div *ngIf="this.tab_type=='1'" class="modal-body">
    <div style="margin-left: 30px;">
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="onItemChange($event.target.value)" name="exampleRadios"
          id="exampleRadios1" value="1" checked>
        <label class="form-check-label" for="exampleRadios1">
          En Cour
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="onItemChange($event.target.value)" name="exampleRadios"
          id="exampleRadios2" value="0">
        <label class="form-check-label" for="exampleRadios2">
          En attente
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="onItemChange($event.target.value)" name="exampleRadios"
          id="exampleRadios3" value="2">
        <label class="form-check-label" for="exampleRadios3">
          Termine
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Valider">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
    </div>
  </div>
</form>
<!-- step 3 -->
<form name="form2" (ngSubmit)="onSubmit(f2)" #f2="ngForm" novalidate>
  <div *ngIf="this.tab_type=='2'" class="modal-body">
    <div style="margin-left: 30px;">
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="onItemChange($event.target.value)" name="exampleRadios"
          id="exampleRadios1" value="2" checked>
        <label class="form-check-label" for="exampleRadios1">
          Termine
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="onItemChange($event.target.value)" name="exampleRadios"
          id="exampleRadios1" value="1">
        <label class="form-check-label" for="exampleRadios2">
          En Cour
        </label>
      </div>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="onItemChange($event.target.value)" name="exampleRadios"
          id="exampleRadios3" value="0">
        <label class="form-check-label" for="exampleRadios3">
          En attente
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Valider">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
    </div>
  </div>
</form>