<!-- Page-header start -->
<div class="">
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="icofont icofont-numbered bg-c-green"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Liste des Taches </h4>
            </span>
            <span>Ajouter,Modifer,Suprimer et Lister des Taches </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/'">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">

              <a>Ajouter,Modifer,Suprimer,Lister</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Liste des Taches'">
      <label for="srch">Recherche</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="serch" type="text" [(ngModel)]="term">
      <div style="display: flex;justify-content: center;">
        <div class="form-group col-md-7">
          <br>
          <br>
          <label for="inputState">Projet</label>
          <select id="inputState" class="form-control" (change)="gteValue($event.target.value)">
            <option selected value="-1">selectione un projet</option>
            <option *ngFor="let item of this.listproject " value="{{item.id_projet}}">{{item.nom_project}}</option>
          </select>

        </div>


      </div>
      <div style="float: right;margin-right: 30px;">
        <button type="button" class="btn btn-primary" (click)="open()">Ajouter</button>
        <br />
        <br />
      </div>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col" style="text-align: center;">Nom Tache</th>
              <th scope="col" style="text-align: center;">Date debut</th>
              <th scope="col" style="text-align: center;">Date fin</th>
              <th scope="col" style="text-align: center;">Dure</th>
              <th scope="col" style="text-align: center;">Etat</th>
              <th scope="col" style="text-align: center;">Action</th>
              <th></th>
            </tr>
          </thead>
          <ng-container *ngIf="this.listtache.length>0">
            <tbody *ngFor="let item of this.listtache |filter:term | paginate: { itemsPerPage: 3, currentPage: p }  ">
              <tr style="text-align: center;">
                <td>{{item.nom_tache}}</td>
                <td>{{item.date_debut_tache}}</td>
                <td>{{item.date_fin_tache}}</td>
                <td>{{item.dure}} Jour</td>

                <td>
                  <span *ngIf="item.etat_tache=='0'">En attente</span>
                  <span *ngIf="item.etat_tache=='1'">En cour </span>
                  <span *ngIf="item.etat_tache=='2'">Terminer</span>

                </td>
                <td>

                  <button type="button" class="btn btn-warning" (click)="update(item)">Modifier</button>

                  <button type="button" class="btn btn-danger" (click)="deletetache(item.id_tache)">Annuler</button>

                  <button type="button" class="btn btn-info" (click)="info(item)">detailles</button>
                </td>
              </tr>
            </tbody>
          </ng-container>
          <ng-container *ngIf="this.listtache.length===0">
            <tbody>
              <tr style="text-align: center;">
                <td colspan="5">
                  Pas de Tache
                </td>

              </tr>


            </tbody>
          </ng-container>

        </table>
        <center>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </center>

      </div>

    </app-card>
  </div>
</div>