

<div class="row">
    <div class="col-sm-12">
        
      <app-card [title]="">

        <div style="display: flex;justify-content: center;">
            <div class="form-group col-md-7">
              <br>
              <br>
              <label for="inputState">Projet</label>
              <select id="inputState" class="form-control" (change)="gteValue($event.target.value)">
                <option selected value="-1">selectione un projet</option>
                <option *ngFor="let item of this.listproject " value="{{item.id_projet }}">{{item.nom_project}}</option>
              </select>
    
            </div>
    
    
          </div>
        <br>
        <br>
        <ejs-accumulationchart [title]='this.chartTitle' [legendSettings]='legend' >
            <e-accumulation-series-collection>
                <e-accumulation-series type='Pie' [dataSource]='piedata' xName='name' yName='value' [dataLabel]='chartLabel'>
                </e-accumulation-series>
            </e-accumulation-series-collection>
        </ejs-accumulationchart>
        
      </app-card>
    </div>
  </div>
  





