<!-- Page-header start -->
<div class="">
  <div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span><i class="icofont icofont-users-alt-2 bg-c-green"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>Liste des utilisateurs</h4>
            </span>
            <span>Ajouter,Modifer,Suprimer et Lister des user </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/'">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">

              <a>Ajouter,Modifer,Suprimer,Lister</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page-header end -->

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'liste des utilisateurs'">
      <label for="srch">Recherche</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="serch" type="text" [(ngModel)]="term">

      <div style="float: right;margin-right: 30px;">
        <button type="button" class="btn btn-primary" (click)="open()">Ajouter</button>
        <br />
        <br />
      </div>
      <div class="table-responsive">

        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col" style="text-align: center;">Nom</th>
              <th scope="col" style="text-align: center;">Prenom</th>
              <th scope="col" style="text-align: center;">Tel</th>
              <th scope="col" style="text-align: center;">Adress</th>
              <th scope="col" style="text-align: center;">Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of this.listuser |filter:term | paginate: { itemsPerPage: 3, currentPage: p }  ">
            <tr style="text-align: center;">
              <td>{{item.nom}}</td>
              <td>{{item.prenom}}</td>
              <td>{{item.tel}}</td>
              <td>{{item.adress}}</td>

              <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-warning" (click)="update(item)">Modifer</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" (click)="blouqueuser(item.id_user)">bloquer </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info" (click)="info(item)">detailles</button>
              </td>
            </tr>
          </tbody>
        </table>
        <center>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </center>
      </div>

    </app-card>
  </div>
</div>